.skill {
  padding: 0 0 50px 0;
  position: relative;
  margin-bottom: -4rem;
}
.skill-bx {
  background: #151515;
  border-radius: 64px;
  text-align: center;
  padding: 60px 50px;
  margin-top: -60px;
}
.skill h2 {
	font-size: 45px;
	font-weight: 700;
}
.skill h4 {
  text-align: center;
  margin-bottom: 2rem;
}
.skill p {
  color: #B8B8B8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 14px 0 75px 0;
}
.skill-slider .row {
  width: 80%;
  margin: 0 auto;
  position: relative;
  /* margin-left: 1.5rem; */
  margin: 0 auto;
  max-width: 100%;
  max-height: 100%;
  margin-left: auto;
  margin-right: auto;

}
.skill-slider .item p {
  font-size: 1rem;
}
.row {
  margin-bottom: 3rem;
}
.skill-slider .item img {
  max-height: 100%;
  max-width: 100%;
  margin-left: 2rem;
  margin-bottom: -2rem;
}
.skill-slider .item h5 {
  color: rgb(217, 207, 207);
}
.background-image-left {
  top: 28%;
  position: absolute;
  bottom: 0;
  width: 40%;
  z-index: -4;
}