.footer {
  padding: 1rem 0 1rem 0;
  background-image: url('../../assets/image/footer-bg.png');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
#social-icon {
  grid-area: 1 / 5 / 2 / 6;
  display: flex;
  -webkit-box-align: center;
  align-items:flex-end;
}
#social-icon a {
  transition: all 0.3s ease 0s;
  color: white;
  border-radius: 50px;
}
#social-icon a img {
  width: 50%;
  height: 50%;
}
/* .footer img {
  width: 26%;
} */
.footer h4 {
  /* font-weight: 400;
  font-size: 14px; */
  color: #B8B8B8;
  letter-spacing: 0.5px;
  margin-top: 20px;
}

#telegram-link  {
  color: rgb(217, 207, 207);
  text-decoration: none;
  font-weight: bold;
}

#telegram-link:hover  {
  color: white;
  text-decoration: none;
}

#footer-row {
  margin-bottom: 0;
}